html, body {
    margin: 0;
    font-family: arial, "Microsoft YaHei";
    background-color: #272822;
    color: #FEFEFE;
}
#fileWrapper{
	transition:all 0.5s ease;
}
#fileWrapper:hover{
	opacity: 1!important;
}

#visualizer_wrapper{
	text-align: center;
}
footer{
	position: fixed;
	bottom: 2px;
	color:#aaa;
}

#controls
{
	height:50px;
	color:#550c58;
	width:100px;
	position:fixed;
	top:0px;
	right:100px;
	padding-top:20px;
}
#field
{
	height:20px;
	width:100px;
	border:1px solid white;
	border-radius:5px;
	text-align:center;
}
#value_low
{
	height:20px;
	width:100px;
	border:1px solid white;
	border-radius:5px;
	text-align:center;
}
#smoth
{
	height:20px;
	width:100px;
	border:1px solid white;
	border-radius:5px;
	text-align:center;
}
#curvature
{
	height:20px;
	width:100px;
	border:1px solid white;
	border-radius:5px;
	text-align:center;	
}
#linewidth
{
	height:20px;
	width:100px;
	border:1px solid white;
	border-radius:5px;
	text-align:center;	
}
#meter
{
	width:100px;
}
#circle
{
	width:100px;
}
#oscillograph
{
	width:100px;
}